@import url('./xy-theme.css');

hr {
  background: #ddd;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  font-family: sans-serif;
}

#app {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.header {
  display:flex;
  padding:2px;
  align-items:center;
  justify-content:right;
  width: 100vw;
  height: 50px;
  background: #eee;
}

.providerflow {
  display: flex;
  width: 100vw;
}

.reactflow-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.inner-wrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.sidebar {
  width:33%;
  display: flex;
  flex-direction:column;
  justify-content:space-between;
  align-items: center;
  padding: 10px;
  border-left: 1px solid #ddd;
}

.sidebar-message-wrapper {
  width: 100%;
  padding: 4px;
  border-bottom: 1px solid #ddd;
}

.sidebar-message-textarea {
  margin-left:-2px;
  width:100%;
}

.sidebar-message-head {
  display: flex;
  width:100%;
  gap:33%;
  align-items:center;
  border-bottom: 1px solid #ddd;
  margin-bottom:10px;
}

.node-wrapper {
  display: flex;
}

.dark .react-flow__node {
  background: #777;
  color: white;
}
 
.light .react-flow__node {
  background: #eee;
  color: #111;
  padding: 0;
  padding-right:4px;
  border:1px solid #eee;
  max-width:150px;
}

.node {
  display: flex;
  max-width:150px;
  flex-direction: column;
  flex-grow:1;
}

.node > .head {
  font-size: 0.5em;
  max-width:150px;
}

.head {
  width: 100%;  
  max-width:150px;
  height: 10px;
  display: flex;
  padding:2px;
  background: #b3efe6;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  justify-content:space-between;
}

.head-label {
  text-align: left;
  display:flex;  
  max-width:150px;
  gap: 2px;
  overflow: hidden;
  align-items: center;     /* vertical centering */
}

.message {
  overflow: wrap;
  font-size: 0.7em;
  max-width:130px;
  max-height:200px;
  padding: 4px;
  text-align:left;
  overflow-y: auto;
  word-break: break-word;
  white-space: normal;    /* allows wrapping */
  word-wrap: break-word;  /* break long words */
  overflow-wrap: break-word;
  box-sizing: border-box;
   display: inline-block;  /* shrink-to-fit width, expand height */
}

.button{
  width: 100px;
  height: 90px;
  display: flex;
  border: 1px solid blue;
  flex-direction:column;
  border-radius: 0;
  background: white;
  color: blue;
}

.button-save{
  display: flex;
  border: 1px solid blue;
  flex-direction:column;
  border-radius: 0;
  background: white;
  color: blue;
}

.buttons {
  display: flex;
  gap: 10px;
}

img.green {
  filter: invert(55%) sepia(86%) saturate(546%) hue-rotate(72deg) brightness(96%) contrast(91%);
}

img.blue {
  filter: invert(43%) sepia(93%) saturate(400%) hue-rotate(200deg) brightness(95%) contrast(90%);
}


textarea {
  width:100%;
  height:100px;
  margin-bottom:10px;
  resize: none;
  overflow: auto; /* ensures scroll if content overflows */
}
.react-flow__controls {
  display: none;
}
